body {
    font-family: 'Vazirmatn', sans-serif;
}

#site-footer-tell {
    color:rgb(59, 59, 59);
}

#site-footer-tell:hover {
    color:rgb(223, 169, 116);
    transition: color 0.2s ease;
}

#site-footer-email {
    color:rgb(59, 59, 59);
}

#site-footer-email:hover {
    color:rgb(223, 169, 116);
    transition: color 0.2s ease;
}

#site-address {
    color:white;
    text-align: center;
}