<!-- Header Section Begin -->
{% load static %}
{% load thumbnail %}
<header class="header-section">
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="tn-left">
                        <li><i class="fa fa-phone"></i><a href="#" id="site-tell" style="color: white"></a></li>
                        <li><i class="fa fa-envelope"></i><a href="#" id="site-email" style="color: white"></a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="tn-right">
                        <div class="top-social">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="/admin"><i class="fa-solid fa-gear"></i></a>
                                {% endif %}
                                <a href="#"><i class="fa-regular fa-user"></i></a>
                                <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                            {% else %}
                                <a href="#"> ورود / ثبت نام <i class="fa-regular fa-circle-user"></i></a>
                            {% endif %}
                        </div>
                        <a href="#" class="bk-btn" style="font-size: 14px ">همین الان رزرو کنید</a>
                        <div class="language-option">
                            <img src="/static/img/iran_flag.jpg" alt="">
                            <span>FA <i class="fa fa-angle-down"></i></span>
                            <div class="flag-dropdown">
                                <ul>
                                    <li><a href="#">FA</a></li>
                                    <li><a href="#">EN</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="./index.html">
                            {% thumbnail site_setting.site_logo "200x200" crop="center" quality=100 as im %}
                                <img src="{{ im.url }}" class="logo img-responsive" alt="Logo" width="{{ im.width }}"
                                     height="{{ im.height }}">
                            {% endthumbnail %}
                            <img id="site-logo" alt="Site Logo" src=""/>
                        </a>
                    </div>
                </div>
                <div class="col-lg-10" style="padding-right: 0">
                    <div class="nav-menu">
                        <nav class="mainmenu">
                            <ul>
                                <li class=""><a href="#"></a></li>
                                <li class="nav-right search-switch" style="cursor: pointer;"><a href="#">جستوجو <i
                                        class="icon_search" style="padding-top: 30px"></i></a>
                                </li>
                                <li class=""><a href="./index.html">تماس با ما</a></li>
                                <li class=""><a href="./index.html">درباره ما</a></li>
                                <li><a href="./rooms.html">دیدنی ها</a></li>
                                <li><a href="./pages.html">رزرو تور</a>
                                    <ul class="dropdown">
                                        <li><a href="./room-details.html">Room Details</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="#">Family Room</a></li>
                                        <li><a href="#">Premium Room</a></li>
                                    </ul>
                                </li>
                                <li><a href="./pages.html">رزرو ویلا</a>
                                    <ul class="dropdown">
                                        <li><a href="./room-details.html">Room Details</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="#">Family Room</a></li>
                                        <li><a href="#">Premium Room</a></li>
                                    </ul>
                                </li>
                                <li><a href="./pages.html">رزرو هتل</a>
                                    <ul class="dropdown">
                                        <li><a href="./room-details.html">Room Details</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="#">Family Room</a></li>
                                        <li><a href="#">Premium Room</a></li>
                                    </ul>
                                </li>
                                <li><a href="./contact.html" style="margin-right: 0px">صفحه اصلی</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->